:root {
  --darker-color: #1a2325;
  --main-color: #30413d;
  --secondary-color: #687356;
  --lighter-color: #bdbe8e;
  --white-color: #fff;

  --main-font: "Cinzel", serif;
}

body {
  font-family: var(--main-font);
}
