.character-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/images/class-background.jpg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  h2 {
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin: 2rem;
    color: var(--darker-color);
  }

  h3 {
    color: var(--darker-color);
  }

  .class-button {
    background-color: var(--main-color);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    color: white;
    border-radius: 999px;
    text-decoration: none;
    margin: 3rem;
  }

  .class-button:hover {
    background-color: var(--lighter-color);
  }
}
