.weapon-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-color);
    color: var(--white-color);
    background-color: rgba(19, 19, 19, 0.756);
    height: 50vh;
    width: 25vw;
    ul{
        padding: 0;
        li{
            padding: 1rem;
            list-style: none;
        }
    }
    
}