.you-died-container {
  background-image: url("../assets/images/losing-screen.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: white;
  font-family: "Gothic", sans-serif;
}

.you-died-text {
  font-size: 2.5rem;
  margin: 20px 0;
  color: red;
  text-shadow: 2px 2px 4px #000;
  box-shadow: rgba(219, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  text-align: center;
  background-color: #0000003d;
}

.retry-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1rem;
  color: white;
  background-color: rgb(21, 0, 128);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 2px 2px 4px #000;
}
