* {
  margin: 0%;
  box-sizing: border-box;
}

.choice-page {
  background-image: url("../../assets/elden-text-content-id-1-2-3.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 10rem;
}

.story-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white-color);
  background-color: rgba(26, 35, 37, 0.7);
  padding: 10px;
  margin-top: 30dvh;
  min-height: 200px;
}

#next-lore-button {
  color: var(--white-color);
  display: flex;
  justify-content: center;
  width: 2rem;
  background: none;
  border: none;
  font-size: 1.5rem;
}

#div-button-next {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 2rem;
}

.paragraph {
  padding-top: 2rem;
  padding-inline: 0.5rem;
}

@media (min-width: 1024px) {
  .choice-page {
    background-position: center;
  }
}

#choice-title {
  color: var(--white-color);
  display: flex;
  justify-content: center;
}

.lore-text {
  max-width: 65ch;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
}

.choice-button {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 10dvw;
}

.choice-button a {
  background-color: var(--main-color);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: var(--white-color);
  border-radius: 999px;
  text-decoration: none;
  box-shadow: 0px 2px 10px var(--darker-color);
}

.choice-button a:hover {
  background-color: var(--lighter-color);
}

h3 {
  color: var(--white-color);
  text-align: center;
}

.small-old-chests {
  background-image: url("../../assets/elden-text-content-id-4-5-6.jpg");
}

.small-chest {
  background-image: url("../../assets/elden-text-arena-id-7-8-9.jpg");
}

.mimic-choice {
  background-image: url("../../assets/elden-text-content-id-10-11.jpg");
}

.last-choice {
  background-image: url("../../assets/elden-text-content-id-14-15-16-17.jpg");
}

.sneak-past {
  background-image: url("../../assets/enlden-text-content-id-19.jpg") !important;
}

.reduvia {
  background-image: url("../../assets/elden-text-content-id-14-15-16-17.jpg");
}
