* {
    margin: 0 auto;
    body {
        background-image: url(https://cdn.discordapp.com/attachments/1227614208401870958/1228287962505150464/DALLE_2024-04-12_12.17.34_-_Imagine_a_breathtaking_scene_where_the_fantastical_worlds_of_Monster_Hunter_World_and_Elden_Ring_collide._In_the_foreground_a_skilled_hunter_in_elabo.webp?ex=662b7f4e&is=66190a4e&hm=dc6b19b23e684663d9e26688d48a67c1ef698908499f35c2c2ec7ff7ff0a08f2&);
        background-repeat: none;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .loot-choice{
        display: flex;
        flex-wrap: wrap;
        img{
            padding: 0 5vw ;
        }
    }
    .loots {
        text-align: center;
        padding: 1rem;
        border: ridge 0.5rem rgba(250, 235, 215, 0.741);
        border-radius: 15px;
        background-color: rgba(32, 32, 32, 0.772);
        color: rgb(240, 255, 255);
        button {
            color: rgb(5, 5, 5);
        }
        h1 {
            padding-bottom: 10vh;
        }
    }
}